=============== 
Lightmap generated
===============
LightmapSnapshot*
LightmapSnapshot.asset
LightmapSnapshot.asset.meta
Lightmap-*.png
Lightmap-*.png.meta
Lightmap-*
Lightmap-*.exr
Lightmap-*.exr.meta
Assets/LargeFiles/
Assets/LargeFiles.meta

===============
Builds and Others
===============
Builds/
Wireframes/
Ref/

=============== 
Unity generated
===============
Temp/
Library/
Library*
UnityPackageManager/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
/*.vs


# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/

Thumbs.db
Desktop.ini
.DS_Store

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
fmod_editor.log

Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
.collabignore

ARProject_M1/Assets/StreamingAssets/Vuforia/Test.*
ARProject_M1/Assets/StreamingAssets/Vuforia/Test_OT.*
ARProject_M1/Assets/StreamingAssets/Vuforia/VuforiaMars*
ARProject_M1/Assets/Joystick Pack/Documentaion.pdf
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/1c1e6b2486c042a1b96d2ddf9410e769_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/300d8d660ac84994a902de04c3be6a31_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/71c9a3b348d74665be19f5c3e32b9faf_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/c2fd886794f1442dbdbdbe9f2a2d3ed6_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/eab1b3c0f0b84a018bf19b59f673cbe7_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/TargetsetData/Test/f9f2057bc2c94e6382fce9b9cacb247d_preview.jpg
ARProject_M1/Assets/Editor/Vuforia/ImageTargetTextures/VuforiaEmulator/emulator_ground_plane_scaled.jpg
ARProject_M1/Assets/Editor/Vuforia/ImageTargetTextures/VuforiaMars_Images/*

